###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

snippet def "#function ..."
def ${1:name}(${2:arguments}): ${3:type} {
	${4}
}
endsnippet
